[submodule "vk.hardware"]
	path = vk.hardware
	url = git@git.aicodeone.fun:STM32/vk.hardware.git
[submodule "vk.kernel"]
	path = vk.kernel
	url = git@git.aicodeone.fun:STM32/vk.kernel.git
[submodule "vk.gui"]
	path = vk.gui
	url = git@git.aicodeone.fun:STM32/vk.gui.git
[submodule "vk.scripts"]
	path = vk.scripts
	url = git@git.aicodeone.fun:STM32/vk.scripts.git
[submodule "vk.bootloader"]
	path = vk.bootloader
	url = git@git.aicodeone.fun:STM32/vk.bootloader.git
