[submodule "vk.hardware"]
	path = vk.hardware
	url = git@github.com:village-kernel/vk.hardware.git
[submodule "vk.kernel"]
	path = vk.kernel
	url = git@github.com:village-kernel/vk.kernel.git
[submodule "vk.gui"]
	path = vk.gui
	url = git@github.com:village-kernel/vk.gui.git
[submodule "vk.scripts"]
	path = vk.scripts
	url = git@github.com:village-kernel/vk.scripts.git
[submodule "vk.network"]
	path = vk.network
	url = git@github.com:village-kernel/vk.network.git
[submodule "vk.library"]
	path = vk.library
	url = git@github.com:village-kernel/vk.library.git


