mainmenu "Main Menu"

comment "This is village configure menu"

menu "Compiler"
comment "This is using to setting compiler tool"

config HOST_COMPILE_PREFIX
	string "host compile prefix"
	default ""

config HOST_COMPILE_SUFFIX
	string "host compile suffix"
	default ""

config CROSS_COMPILE_PREFIX
	string "cross compile prefix"
	default "i686-elf-"

config CROSS_COMPILE_SUFFIX
	string "cross compile suffix"
	default ""

config OPT
	string "optimization level"
	default "-O0"

config DEBUG
	bool "debug mode"
	default y

config VERBOSE_MODE
	bool "verbose mode"
	default n

config GENERATED_LIB
	bool "generated libs"
	default y

config GENERATED_MOD
	bool "generated mods"
	option modules
	select MODULE
	default n

config GENERATED_APP
	bool "generated apps"
	default y

config GENERATED_STATIC_APP
	depends on GENERATED_APP
	bool "build with static"
	default n

config CREATE_APP_HEX_FILE
	depends on GENERATED_STATIC_APP
	bool "create *.hex file"
	default n

config CREATE_APP_BIN_FILE
	depends on GENERATED_STATIC_APP
	bool "create *.bin file"
	default n

config GENERATED_IMG
	bool "generated os image"
	default n

config ROOTFS
	string "rootfs path"
	default "/Volumes/SD"

endmenu

menu "village-boot"
	source ./village-boot/Kconfig
endmenu

menu "village-kernel"
	source ./village-kernel/Kconfig
endmenu

menu "village-os"
	source ./village-os/Kconfig
endmenu
