mainmenu "Main Menu"

comment "This is village configure menu"

menu "Compiler"
comment "This is using to setting compiler tool"

config CROSS_COMPILE
	string "cross compile prefix"
	default "arm-none-eabi-"

config OPT
	string "optimization level"
	default "-O0"

config DEBUG
	bool "debug mode"
	default y

config VERBOSE_MODE
	bool "verbose mode"
	default n

config GENERATED_LIB
	bool "generated libs"
	default y

config GENERATED_IMG
	bool "generated os image"
	default n

endmenu

menu "Application"
	source ./vk.application/Kconfig
endmenu

menu "Bootloader"
	source ./vk.bootloader/Kconfig
endmenu

menu "FileSystem"
	source ./vk.filesystem/Kconfig
endmenu

menu "Hardware"
	source ./vk.hardware/Kconfig
endmenu

menu "Library"
	source ./vk.library/Kconfig
endmenu

menu "Network"
	source ./vk.network/Kconfig
endmenu

menu "Kernel"
	source ./vk.kernel/Kconfig
endmenu

menu "GUI"
	source ./vk.gui/Kconfig
endmenu
