comment "This is using to configure hardware"

# Config mcu menu
menu "BSP"
	source ./vk.hardware/BSP/Kconfig
endmenu

# Config HAL menu
menu "HAL"
	source ./vk.hardware/HAL/Kconfig
endmenu

# Config DEV menu
menu "DEV"
	source ./vk.hardware/DEV/Kconfig
endmenu
