config DMAFIFO
	select HAL_DMA
	bool "Enable dma fifo support"
	default n

config ILI9488
	select HAL_FSMC
	select MANUFACTURER_HAL_DRIVER
	bool "Enable ILI9488 support"
	default n

config SDCARD
	select HAL_SPI
	bool "Enable SD card support"
	default n

config SPIFLASH
	select HAL_SPI
	bool "Enable SPI flash support"
	default n

config UARTSERIAL
	select HAL_USART
	bool "Enable UART serial support"
	default n

config USBSTORAGE
	depends on SDCARD || SPIFLASH
	select MANUFACTURER_HAL_DRIVER
	bool "Enable USB storage support"
	default n

config X86VGA
	bool "Enable X86VGA support"
	default n
	