comment "This is using to configure kernel"

config KERNEL
	bool "Enable building kernel"
	default y

if KERNEL
	# config arch

	menu "arch"

	comment "Select CPU Architecture"

	choice
		prompt "Architecture"
		default ARM

		config ARM
			bool "arm"

		config X86
			bool "x86"
			select BOOTSECTION
	endchoice

	comment "Configure Support Function"

	## ARM
	if ARM

		choice
			prompt "ARM Series"
			depends on ARM
			default CORTEX_M

			config CORTEX_A
				bool "cortex-A"

			config CORTEX_R
				bool "cortex-R"

			config CORTEX_M
				bool "cortex-M"
		endchoice

	endif

	## X86
	if X86

		choice
			prompt "Boot fireware"
			depends on X86
			default BIOS

			config BIOS
				bool "bios"

		endchoice

	endif

	endmenu

	# config drivers menu

	menu "driver"

	if CORTEX_M
		source ./village-kernel/drivers/arm/cortex-m/Kconfig
	endif

	if BIOS
		source ./village-kernel/drivers/x86/bios/Kconfig
	endif

	endmenu

	# config executor menu

	menu "executor"

		config EXECUTOR
				select BINUTILS
				select FILESTREAM
				bool "Enable executor function"
				default n

		config BINEXECUTOR
			depends on EXECUTOR
			select BINLOADER
			bool "Enable execute *.bin file function"
			default n

		config ELFEXECUTOR
			depends on EXECUTOR
			select ELFLOADER
			bool "Enable execute *.elf file function"
			default n

		config HEXEXECUTOR
			depends on EXECUTOR
			select HEXLOADER
			bool "Enable execute *.hex file function"
			default n

	endmenu


	# config kernel menu

	menu "kernel"

	config TASK_STACK
		int "The size of thread task stack"
		default 1024

	config MODULE
		bool "Enable loadable module support"
		select FATFS
		select ELFPARSER
		select ENVIRONMENT

	config ENVIRONMENT
		depends on MODULE
		bool "Build the environment of Loadable module"
		default y

	endmenu

	# config file system

	menu "filesys"

	config FATFS
		bool "Add fat file system in support list"
		default n

	endmenu

	# confg vklibs menu

	menu "vklibs"

		menu "libc"

		comment "This is using to configure libc"

		endmenu

		menu "libc++"

		comment "This is using to configure libc++"

		endmenu

		menu "libm"

		comment "This is using to configure libm"

		endmenu

		menu "libhw"
			
			if CORTEX_M
				source ./village-kernel/vklibs/libhw/arm/cortex-m/Kconfig
			endif

			if BIOS
				source ./village-kernel/vklibs/libhw/x86/bios/Kconfig
			endif

		endmenu

		menu "libutils"

			menu "fileutils"

			comment "This is using to configure fileutils"

			config FILEUTILS
				bool "Enable file utils support"
				default n

			config DIRSTREAM
				depends on FILEUTILS
				bool "Enable dirstream function"
				default n

			config DRVSTREAM
				depends on FILEUTILS
				bool "Enable drvstream function"
				default n

			config FILESTREAM
				depends on FILEUTILS
				bool "Enable filestream function"
				default n

			config FILESYSOPT
				depends on FILEUTILS
				bool "Enable filesysopt function"
				default n

			endmenu

			menu "binutils"

			comment "This is using to configure binutils"

			config BINUTILS
				select FILESTREAM
				bool "Enable binutils function"
				default n

			config BINLOADER
				depends on BINUTILS
				select FILESTREAM
				bool "Enable *.bin file load function"
				default n

			config ELFLOADER
				depends on BINUTILS
				select FILESTREAM
				bool "Enable *.elf file load function"
				default n

			config HEXLOADER
				depends on BINUTILS
				select FILESTREAM
				bool "Enable *.hex file load function"
				default n

			config LIBTOOL
				depends on BINUTILS
				bool "Enable library tool function"
				default n

			config MODTOOL
				depends on BINUTILS
				bool "Enable module tool function"
				default n

			endmenu

			menu "parser"

			comment "This is using to configure parser"

			config PARSER
				bool "Enable parser support"
				default n

			config INIPARSER
				depends on PARSER
				select FILESTREAM
				bool "Enable ini file parser function"
				default n

			config PINPARSER
				depends on PARSER
				select FILESTREAM
				bool "Enable pin parser function"
				default n

			config RCPARSER
				depends on PARSER
				select FILESTREAM
				bool "Enable resource script parser function"
				default n

			config REGEX
				depends on PARSER
				bool "Enable regex function"
				default n

			endmenu

			menu "model"

			comment "This is using to configure model"

			config MODEL
				bool "Enable design mode function"
				default y

			endmenu

			menu "sync"

			comment "This is using to configure sync"

			config SYNC
				bool "Enable synchronizes function"
				default y

			config MUTEX
				depends on SYNC
				bool "Enable mutex lock support"
				default y

			config SPINLOCK
				depends on SYNC
				bool "Enable spin lock support"
				default y

			config SEMAPHORE
				depends on SYNC
				bool "Enable semaphore support"
				default y

			endmenu

		endmenu

	endmenu

endif
