comment "This is using to configure application"

# application
config APPLICATION1
	tristate "Add application1 to project"
	default y

config APPLICATION2
	tristate "Add application2 to project"
	default y

config APPLICATION3
	depends on GUI
	tristate "Add application3 to project"
	default n

config APPLICATION4
	tristate "Add application4 to project"
	default m

config APPLICATION5
	tristate "Add application5 to project"
	default m
