
config HAL_SYSTEM
	bool "Enable SYSTEM HAL class"
	default y

config HAL_GPIO
	bool "Enable GPIO HAL class"
	default y

config HAL_GPI
	depends on HAL_GPIO
	bool "Enable GPI HAL class"
	default y

config HAL_GPO
	depends on HAL_GPIO
	bool "Enable GPO HAL class"
	default y

config HAL_USART
	bool "Enable USART HAL clas"
