# bootloader
config BOOTLOADER
	bool "Enable bootloader function"
	default n

if BOOTLOADER

comment "Select bootloader"

choice
	prompt "bootloader"
	default X86BIOS

	config X86BIOS
		bool "x86 bios boot"

	config X64UEFI
		bool "x64 uefi boot"
endchoice

endif
