# bootloader
config BOOTLOADER
	bool "Enable bootloader function"
	default n

if BOOTLOADER

	comment "Select bootloader"

	choice
		prompt "boot mode"
		default LEGACY 

		config LEGACY
			bool "legacy"

		config UEFI
			bool "uefi"
	endchoice

	choice
		prompt "boot arch"
		default IA32

		config IA32
			bool "ia32"

		config X86_64
			bool "x86_64"
	endchoice

endif
