# This is using to configure bootloader

config BOOTLOADER
	bool "Enable bootloader function"
	default n

if BOOTLOADER

	comment "Select bootloader"

	choice
		prompt "boot mode"
		default LEGACY 

		config LEGACY
			bool "legacy"

		config UEFI
			bool "uefi"
	endchoice

	choice
		prompt "boot arch"
		default BOOTIA32

		config BOOTIA32
			bool "bootia32"

		config BOOTX64
			bool "bootx64"
	endchoice

endif
