config HAL_GPIO
	bool "Enable GPIO HAL class"
	default y

config HAL_GPI
	depends on HAL_GPIO
	bool "Enable GPI HAL class"
	default y

config HAL_GPO
	depends on HAL_GPIO
	bool "Enable GPO HAL class"
	default y

config HAL_NVIC
	bool "Enalbe NVIC HAL class"
	default y

config HAL_USART
	select HAL_GPIO
	bool "Enable USART HAL clas"
	default n

config HAL_SPI
	select HAL_GPIO
	bool "Enable SPI HAL class"
	default n

config HAL_I2C
	select HAL_GPIO
	bool "Enable I2C HAL class"
	default n

config HAL_DMA
	bool "Enable dma HAL class"
	default n

config HAL_FSMC
	select HAL_GPIO
	bool "Enable FSMC HAL class"
	default n
