choice
	prompt "MCU Manufacturer"
	depends on CORTEX_M
	default ST

	config ST
		bool "ST"

	config GD
		bool "GD"
endchoice

if ST
source ./vk.hardware/arm/cortex-m/mcu/st/Kconfig
source ./vk.hardware/arm/cortex-m/hal/st/Kconfig
endif

source ./vk.hardware/arm/cortex-m/driver/Kconfig
