choice
	prompt "Architecture"
	default ARM

	config ARM
		bool "arm"

	config X86
		bool "x86"
		select BOOTSECTION
endchoice

choice
	prompt "ARM architecutre"
	depends on ARM
	default CORTEX_M

	config CORTEX_A
		bool "cortex-A"

	config CORTEX_R
		bool "cortex-R"

	config CORTEX_M
		bool "cortex-M"
endchoice

choice
	prompt "Manufacturer"
	depends on CORTEX_M
	default ST

	config ST
		bool "ST"

	config GD
		bool "GD"
endchoice

if ST
	source ./vk.hardware/BSP/ST/Kconfig
endif

if X86
	source ./vk.hardware/BSP/x86/Kconfig
endif
