choice
	prompt "ARM Series"
	depends on ARM
	default CORTEX_M

	config CORTEX_A
		bool "cortex-A"

	config CORTEX_R
		bool "cortex-R"

	config CORTEX_M
		bool "cortex-M"
endchoice

if CORTEX_M
	source ./vk.hardware/arm/cortex-m/Kconfig
endif
