comment "Configure Support Function"

# config cpu menu
menu "CPU Support Package"

comment "This is using to configure x86 arch"

config BOOTSECTION
	bool "The arch has boot setion"
	default y

endmenu

# config hal menu
menu "Hardware Abstraction Layer"

config HAL_PCI_CONTROLLER
	bool "Enable pci controller class"
	default y

config HAL_PS2_CONTROLLER
	bool "Enable ps2 controller class"
	default y

endmenu
