comment "This is using to configure vkos"

config VKOS
	bool "Enable building vkos"
	default y

if VKOS

	menu "applications"
		comment "This is using to configure application"
		source ./village-os/applications/desktop/Kconfig
		source ./village-os/applications/settings/Kconfig
		source ./village-os/applications/terminal/Kconfig
	endmenu

	menu "libraries"
		comment "This is using to configure libraries"
		source ./village-os/libraries/vkgui/Kconfig
	endmenu

	menu "services"
		comment "This is using to configure service"
		source ./village-os/services/gui/Kconfig
		source ./village-os/services/input/Kconfig
		source ./village-os/services/taichi/Kconfig
	endmenu

endif
