comment "This is using to configure vkos"

config VKOS
	bool "Enable building vkos"
	default y

if VKOS

	menu "libraries"
		comment "This is using to configure libraries"
	endmenu

	menu "programs"
		comment "This is using to configure programs"
		source ./village-os/programs/desktop/Kconfig
		source ./village-os/programs/filemgr/Kconfig
		source ./village-os/programs/monitor/Kconfig
		source ./village-os/programs/settings/Kconfig
		source ./village-os/programs/terminal/Kconfig
	endmenu

	menu "services"
		comment "This is using to configure service"
		source ./village-os/services/taichi/Kconfig
		source ./village-os/services/input/Kconfig
		source ./village-os/services/vkgui/Kconfig
	endmenu

endif
