# settings menu

menu "settings"

config SETTINGS_APP
	bool "Build settings application"
	default y

if SETTINGS_APP

config SETTINGS_POWER_UP
	bool "Running when power up"
	default n

endif

endmenu
