# Config driver menu
menu "Generic Device Driver"

config SERIAL
	tristate "Enable serial support"
	default n

config VGA
	tristate "Enable VGA support"
	default n

config DISK
	tristate "Enable LBA disk support"
	default n
	
endmenu
