# Config driver menu
menu "Generic Device Driver"

config SERIAL
	bool "Enable serial support"
	default n

config VGA
	bool "Enable VGA support"
	default n

config DISK
	bool "Enable LBA disk support"
	default n
	
endmenu
